version: '3'

networks:
  swoole:

services:
  mysql:
    image: mysql:latest
    container_name: docker-swoole-mysql
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: docker-swoole
      MYSQL_ROOT_PASSWORD: secret
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    networks:
      - swoole

  php:
    container_name: docker-swoole-php
    build:
      context: .
      dockerfile: php.dockerfile
    command: >
      sh -c "composer install &&
             yarn install &&
             yes "1" | php artisan octane:install &&
             php artisan key:generate &&
             php artisan octane:start --server=swoole --watch --workers=2 --max-requests=250 --host=0.0.0.0 --port=8000"
    ports:
      - "8000:8000"
    volumes:
      - ./api:/usr/src/api
    networks:
      - swoole
    links:
      - mysql

  client:
    container_name: docker-swoole-client
    build:
      context: .
      dockerfile: client.dockerfile
    command: >
      sh -c "yarn &&
            yarn serve"
    ports:
      - "3000:3000"
    volumes:
      - ./client:/usr/src/client
    networks:
      - swoole